.navStart {
  /* margin-left: 3em; */
  text-shadow: 5px;
}
.navMiddle {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 10px;
}
.navEnd {
  /* margin-right: 3em; */
  text-shadow: 5px;
}

.navEnd > ul > a {
  margin-left: 10px;
  margin-right: 10px;
}
